@import url('../css/import.css');

input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea,
select,
button
{
    padding: 0.5em;
    border: 1px solid var(--color3Texto);
    border-radius: 6vw;
    background-color: var(--color1Fondo);
    transition: all 0.3s ease-in-out;
}
input[type=checkbox]{
    margin-right: 1vw;
    border: 1px solid var(--color3Texto);
    border-radius: 6vw;
    background-color: var(--color1Fondo);
    transition: all 0.3s ease-in-out;
}

form button{
    margin: 4vh 0 2vh 0;
    background-color: var(--color3Boton);
    color: var(--color1Fondo);
}
#comentarios{
    border-radius: 1em;
}

/* contacto.html */ 
#form-contacto{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
.eti-contenedor,
.eti-contenedor2,
.eti-contenedor3{
    width: 100%;
}

#comentario{
    text-indent: 1em;
}

/* *** MEDIA QUERIES *** */
@media (min-width: 769px) { 
    #form-contacto{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .eti-contenedor{
        width: 40%;
    }
    .eti-contenedor2,
    .eti-contenedor3{
        width: 48%;
    }
}

@media (min-width:1025px){
    .eti-contenedor{
        width: 30%;
    }
    .eti-contenedor2{
        width: 50%;
    }
    .eti-contenedor3{
        width: 100%;
        margin: auto;
    }
    #boton-confirmar{
        padding: 1em;
        /* font-size: large; */
    }
}

@media (min-width:1200px) {
    .main-contenedor {
        margin-top: 9vh;
    }
    #form-contacto{
        margin: 0 auto;
    }
    #boton-confirmar{
        padding: 1.5em;
        font-size: var(--fontsizeXL);
    }
    #comentario{
        text-indent: 2em;
    }
}