@import url('./import.css');
@import url("./slideshow.css");
/* *** seccion banner oe ofertas y pagos *** */
section.banner-ofertas-pagos{
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vh 1vw;
    box-shadow: 0px 0px 10px var(--color3Texto);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    background-color: var(--color7Fondo);
}
section span.texto-banner-ofertas{
    font-size: var(--fontsize2);
    color: var(--color1Fondo);
    text-shadow: 0px 0px 3px var(--color1Texto);
}
.fas{ 
    color: var(--color1Texto);
    margin: 1vw;
}

/* *** Seccion de Categorias *** */
section.categorias-destacadas{
    border-color: var(--color7Fondo);
    border-radius: 3vw;
}

ul.ul-menu-categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
li.item-menu-categoria{
    margin: 1vw;
    padding: 1vw;
    border-radius: 0.5em;
    border: 1px solid var(--color3Fondo);
    color: var(--color1Texto);
    text-align: center;
    width: 42vw;

    &:hover{
        
        border-color: var(--color2Texto);
        color: var(--color1Texto);

        transition: all 0.3s ease-in-out;
    }
}

a.link-categoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color1Texto);
    transition: color 0.3s ease-in-out;
    
    &:hover{
        color: var(--color3Texto);
        transition: color 0.3s ease-in-out;
    }
    

}
.img-categoria{
    width: 100%;
    border-radius: 5em;
    border-color: var(--color4tFondo);
    /* background-color: var(--color7Fondo); */
    cursor: pointer;
}

.texto-link-categoria{
    font-size: var(--fontsize3);
    color: var(--color1Texto);
    text-shadow: 0px 0px 3px var(--color1Texto);
}


/* *** medias queries *** */
@media (min-width: 600px) {
    section.banner-ofertas-pagos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 1024px) {
    section span.texto-banner-ofertas{
        font-size: var(--fontsize1);
    }
}

@media (min-width: 1440px) {
    section.banner-ofertas-pagos{
        font-size: var(--fontsizeXXL);
    }
}