@import url('./import.css');
@import url("./slideshow.css");
/* *** seccion banner oe ofertas y pagos *** */
section.banner-ofertas-pagos{
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vh 1vw;
    box-shadow: 0px 0px 10px var(--color3Texto);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    background-color: var(--color7Fondo);
}
section span.texto-banner-ofertas{
    font-size: var(--fontsize3);
    color: var(--color1Fondo);
    text-shadow: 0px 0px 3px var(--color1Texto);
}
.fas{ 
    color: var(--color1Texto);
    margin: 1vw;
}

/* *** Seccion de Categorias *** */
section.categorias-destacadas{
    border-color: var(--color7Fondo);
    border-radius: 3vw;
}

ul.ul-menu-categorias{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    padding: 2vw;
    box-shadow: 0px 0px 10px var(--color7Fondo);
    transition: all 0.3s ease-in-out;
    /* background-color: var(--color7Fondo); */
    overflow: auto;

    
}
li.item-menu-categoria{
    margin: 1vw;
    padding: 1vw;
    border-radius: 0.5em;
    border: 1px solid var(--color3Fondo);
    color: var(--color1Texto);
    text-align: center;
    max-width: 130px; /*36vw;*/


    &:hover{
        
        border-color: var(--color2Texto);
        color: var(--color3Texto);

        transition: all 0.3s ease-in-out;
    }
}

a.link-categoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    transition: color 0.3s ease-in-out;
    
    &:hover{
        border-color: var(--color2Texto);
        color: var(--color3Texto);
        transition: color 0.3s ease-in-out;
    }


}
.img-categoria{
    width: 100%;
    cursor: pointer;
    border-radius: 10em;
}

.texto-link-categoria{
    font-size: var(--fontsize2);
    color: var(--color1Texto);
    text-shadow: 0px 0px 3px var(--colorA);

    &:hover{
        text-shadow: 1px 0px 13px var(--color1Texto),
                    -1px 0px 13px var(--color3Texto);
        transition: all 0.3s ease-in-out;
    }
}


/* *** medias queries *** */
@media(min-width:425px) {
    ul.ul-menu-categorias{
        grid-template-columns: 1fr 1fr 1fr;
    }
    li.item-menu-categoria{
        max-width: 25vw;
    }
}

@media (min-width: 576px) {
    section.banner-ofertas-pagos
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    section span.texto-banner-ofertas{
        font-size: var(--fontsize2);
    }
    
    ul.ul-menu-categorias{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    li.item-menu-categoria{
        max-width: 25vw;
    }

    .card-contenido{    
        grid-template-columns: 1fr 1fr;
        column-gap: 1vw;
    }
}

@media (min-width: 900px) {
    ul.ul-menu-categorias{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    li.item-menu-categoria{
        width: 15vw;
    }
    span.texto-banner-ofertas{
        font-size: var(--fontsize1);
    }
    .card-contenido{    
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media (min-width: 1025px) {
    section span.texto-banner-ofertas{
        font-size: var(--fontsizeXXL);
    }
    ul.ul-menu-categorias{
        display: none;
    }
}

@media (min-width:1200px){
    .card-contenido{    
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .menu-base{
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100%;
        height: 7vh;
        z-index: 10;
    }
}

@media (min-width: 1441px) {
    section.banner-ofertas-pagos{
        font-size: var(--fontsizeXXL);
    }
    .card-contenido{    
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}