@import url('./import.css');
@import url("./slideshow.css");

/* *** MEDIA QUERIES *** */
@media(min-width:425px) {
    /* .ul-menu-categorias{ */
        /* grid-template-columns: 1fr 1fr 1fr; */
    /* } */
    .item-menu-categoria{
        max-width: 25vw;
    }
}

@media (min-width: 576px) {
    .banner-ofertas-pagos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .texto-banner-ofertas{
        font-size: var(--fontsize2);
    }
    
    .ul-menu-categorias{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .item-menu-categoria{
        max-width: 25vw;
    }

    .card-contenido{    
        grid-template-columns: 1fr 1fr;
        column-gap: 1vw;
    }
}

@media (min-width: 900px) {
    .ul-menu-categorias{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .item-menu-categoria{
        width: 15vw;
    }
    .texto-banner-ofertas{
        font-size: var(--fontsize1);
    }
    .card-contenido{    
        grid-template-columns: 1fr 1fr 1fr;
    }
    .img-user{
        width: 20vw;
    }
    
}

@media (min-width: 1025px) {
    .texto-banner-ofertas{
        font-size: var(--fontsizeXXL);
    }
    .menu-categorias{
        display: none;
    }
}

@media (min-width:1200px){
    .card-contenido{    
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .main-contenedor {
        margin-top: 9vh;
    }
    .card-titulo{
        font-size: var(--fontsize2XL);
    }
}

@media (min-width: 1441px) {
    .banner-ofertas-pagos{
        font-size: var(--fontsizeXXL);
    }
    .card-contenido{    
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .card-titulo{
        font-size: var(--fontsize3XL);
    }
}