@import url('../css/import.css');

@media (min-width:576px){
    .card-contenido{    
        grid-template-columns: 1fr 1fr;
        column-gap: 1vw;
    }

}

@media (min-width:900px) {
    .card-contenido{    
        grid-template-columns: 1fr 1fr 1fr;
    }
}