body{
    background-color: var(--colorFondo);
    font-family: var(--fuente7);
    font-size: var(--fontsize3);
}

header,
footer{
    width: 100%;
    background-color: var(--color4Fondo);
}

main{
    margin-top: 10vh;
}

section{
    padding: 1em 0px;
}

article{
    margin-top: 1em;
    /* border-radius: 3vw; */
    /* background-color: var(--color5Fondo); */
    color: var(--color1Texto);
    padding: 1em;
}
