:root{
    /* colores */
    --colorPrincipal: rgba();
    --colorSecundario: rgba();

    --color1Fondo: rgb(255, 240, 209);
    --color2Fondo: rgb(216, 216, 194);
    --color3Fondo: rgb(24, 28, 20);
    --color4Fondo: rgb(105, 117, 101);
    --color4tFondo: rgba(105, 117, 101,0.3);
    --color5Fondo: rgb(121, 87, 87);
    --color6Fondo: rgb(130, 91, 50);
    --color7Fondo: rgb(177, 116, 87);

    --color1Texto: rgb(24, 28, 20);
    --color2Texto: rgb(105, 117, 101);
    --color3Texto:rgb(143, 56, 6);
    --color4Texto: rgb(245, 230, 230);
    --color5Texto: rgb(108, 190, 199);
    --color6Texto: rgb(74, 73, 71);
    --color7Texto: rgb(245, 245, 243);

    --colorA:rgb(105, 117, 101);
    --colorB:rgb(177, 116, 87);
    --colorC:rgb(121, 87, 87);
    --colorD: rgba(25,25,25,0.8);

    --color1Boton:rgb(108, 190, 199) ;
    --color2Boton: rgb(129, 218, 227);
    --color3Boton:rgb(101, 69, 32);
    --color4Boton:rgb(177, 116, 87);
    --color5Boton:rgb(255, 240, 209);
    --color6Boton:rgb(105, 117, 101);
    --color7Boton:rgb(74, 73, 71);

/* FUENTES */
    --fuente1: 'Milonga';
    --fuente2: 'MarkOne-Regular';
    --fuente3: 'PoetsenOne-Regular';
    --fuente4: 'Sancreek-Regular';
    --fuente5: 'CinzelDecorative-Regular';
    --fuente6: 'Charmonman-Regular';
    --fuente7: 'Oswald-ligth';
    --fuente8: 'Oswald-Medium';
    
      
      --fontsize1: 24px;
      --fontsize2: 20px;
      --fontsize3: 16px;
      --fontsizeXL: 30px;
      --fontsize2XL: 38px;
      --fontsize3XL: 42px;

}
